# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\semester2_Y3\puxiaoyue_splited\puxiaoyu_backend\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
